<div class="container">

  <!-- ============= TOP ================ -->
  <div class="top">
    <div class="img-container">
      <img src="images/logo.png" alt="SweetSaver logo">
    </div>

    <div class="search-container">
      <span class="material-icons search-icon">search</span>  
      <input
       type="text"
       placeholder="Search products, shops..."
       [(ngModel)]="searchText"
       (input)="onSearchChange()">
    </div>

    <div class="log-out-container">
      <button>Log Out</button>
    </div>
  </div>

  <!-- ============== MAIN ================ -->
  <div class="main">
  
    <section class="categories-section">
      <div class="categories-list">
        <div
        class="category-card"
        [class.active]="selectedCategoryId === null"
        (click)="selectCategory(null)"
        >
          <span>All </span>
          <span class="category-icon">✨</span>
        </div>

        <div
        class="category-card"
        *ngFor="let category of categories"
        [class.active]="selectedCategoryId === category.id"
        (click)="selectCategory(category.id)"
        >
        <span>{{category.name}} </span>
        <span class="category-icon">{{category.icon}}</span>
        </div>
      </div>
    </section>

    <section class="products-section">

      <div class="products-grid">
        <div class="product-card" *ngFor="let product of filteredProducts">
          <img [src]="product.image_url" [alt]="product.title" class="product-image" />

          <div class="product-info">
            <h3>{{ product.title }}</h3>
            <p class="shop-name">{{ product.shop_name }}</p>
            <p class="description">{{ product.description }}</p>

            <div class="price-row">
              <span class="new-price">{{ product.price }} €</span>
              <span class="old-price" *ngIf="product.old_price">{{ product.old_price }} €</span>
            </div>

            <p class="stock" *ngIf="product.stock > 0">Stock: {{ product.stock }}</p>
            <p class="out-of-stock" *ngIf="product.stock === 0">Out of stock</p>

            <button [disabled]="product.stock === 0 || !product.is_available">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

    <div *ngIf="filteredProducts.length === 0" class="no-products">
      No products found.
    </div>
  </section>



  </div>


  <!-- ============== BOTTOM ============== -->
  <div class="bottom">

    <div>
      <span class="material-icons discover active">explore</span>     <!-- Discover -->
      <span class="material-icons shops">store</span>      <!-- Browse -->
      <span class="material-icons cart">shopping_cart</span>    <!-- Favorites -->
      <span class="material-icons profile">person</span>      <!-- Profile -->
    </div>

  </div>


</div>